.news{
    margin: 50px 0 0 75px;
    width: 200px;
    float: left;
}

.news__news-item{
    font: 13px 'PT Sans', sans-serif;
    color: #909090;
    margin: 30px 0 0  0;
}
.news__more{
    margin: 55px 0 0 0;
}