.news{
    margin: 0;
    float: left;
    width: 540px;
    list-style: none;
    padding: 0;
}

.news__item{
    font: 13px 'PT Sans', sans-serif;
    color: #909090;
    margin: 30px 0 0  0;
}
.news__more{
    margin: 55px 0 0 0;
}