.project-slider
{
    clear: both;
    width: 569px;
    height: 409px;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;

}
.project-slider__list
{
    height: 95px;
    background: #a5a8aa;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.project-slider__item
{
    margin: 5px 0 0 5px;
    float: left;
    width: 115px;
}