.nav
{
    margin: 20px 0 0 5%;
    list-style: none;
    max-width: 850px;
    width: 75%; 
    padding: 0;
    float: left;
    text-align: justify;
    font-size: 0;
}

.nav:after
{
    content: "";
    display: inline-block;
    width: 99%;
}

.nav__item
{
    margin: 20px 0 0 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.nav__item_state_current
{
    color: #fff;
    background: #007722;
    padding: 5px 15px;
    border: 2px solid #fff;
    font-size: 18px;

    -webkit-border-radius: 25px;
    border-radius: 25px;

    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
       -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
}

/*@media (max-width: 960px)
{
    .nav
    {
        margin: 20px 0 0 5px;
    }
    .nav__item
    {
        margin: 20px 0 0 -5px;
    }
}

@media (min-width: 1200px)
{
    .nav
    {
        margin: 20px 0 0 130px;
    }
    .nav__item
    {
        margin: 20px 0 0 35px;
    }
}*/