.b-icon_type_project-link-img{
    position: absolute;
    border: 2px solid #ffffff;
    border-top-left-radius: 35px;
    top: 45px;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
}