.news-list
{
    width: 21%;
    margin: 35px 0 60px 6%;
    float: left;
}
.news-list__date
{
    font-size: 13px;
    color: #909090;
    margin: 5px 0;
}

@media (max-width: 960px)
{
    .news-list
    {
        margin: 110px 0 60px 3%;
    }
}

/*@media (min-width: 1200px)
{
    .news-list
    {
        width: 255px;
        margin: 50px 0 60px 145px;
    }
}*/