.news-list {
    width: 540px;
    margin: 10px 0 0 65px;
    float: left;
    font: 18px 'PT Sans', sans-serif;
    color: #504e4e;
}
.news-list__img-l{
    border: 2px solid #ffffff!important;
    border-top-left-radius: 30px;
    float: left;
    margin: 0 20px 0 0;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
}