.button
{
    background: -webkit-linear-gradient(top, #feffff, #ededed);
    background: -o-linear-gradient(top, #feffff, #ededed);
    background: -ms-linear-gradient(top, #feffff, #ededed);
    background: -moz-linear-gradient(top, #feffff, #ededed);
    background: linear-gradient(top, #feffff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#ededed');
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.55);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.55);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.55);
    border-radius: 20px;
    border: 1px solid #d6d6d6;
    margin: 30px auto 60px;
    clear: both;
    width: 150px;
}
.button:hover
{
	background: #eeeeee;
}
.button:active
{
	background: #eeeeee;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55) inset;
	   -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55) inset;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55) inset;
}