.projects
{
    margin: 25px 0 0 0;
    clear: both;
}
.projects__item
{
    width: 165px;
    font: bold 15px 'PT Sans', sans-serif;
    position: relative;
    float: left;
    margin: 0 50px 0 0;
}
.projects__item_type_min-title
{
    margin: 20px 0 0 0;
}
.projects__title .b-link
{
    font-size: 15px;
    font-weight:  bold;
}

.projects__item .b-icon
{
    position: absolute;
    border: 2px solid #ffffff;
    border-top-left-radius: 35px;
    top: 45px;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
}
/*@media (max-width: 960px)
{
    .projects__item
    {
        margin: 0 40px 0 0;
    }
}

@media (min-width: 1200px)
{
    .projects__item
    {
        margin: 0 150px 0 0;
    }
}*/