.socials
{
    float: left;
    width: 36%;
    margin: 0 0 0 5%;
}
.socials__link
{
    height: 27px;
    padding: 2px 0 0 35px;
    color: #d23e33;
    display: inline-block;
}
.socials__link_type_vk
{
    background: url("../../../../../i/socials.png") no-repeat top -36px left 0;
}
.socials__link_type_fb
{
    background: url("../../../../../i/socials.png") no-repeat;
    margin: 0 0 0 20%;
}