.cashflow
{
    float: left;
    width: 20%;
    margin: 35px 0 60px 6%;
}
.cashflow__item
{
    font-size: 13px;
    color: #909090;
    margin: 25px 0 0 0;
}
.cashflow__more
{
    margin: 55px 0 0 0;
}
.cahflow__date
{
	font-size: 13px;
    color: #909090;
    margin: 5px 0;
}
.cashflow__target
{
    font-size: 13px;
    color: #909090;
    float: left;
    padding: 2px 5px 0 0;
}

@media (max-width: 960px)
{
    .cashflow
    {
        margin: 35px 0 60px 3%;
    }
}

/*@media (min-width: 1200px)
{
    .cashflow
    {
        float: left;
        width: 235px;
        margin: 35px 0 60px 130px;
    }
}*/