.left-nav {
    list-style: none;
    float: left;
    padding: 0;
    width: 140px;
    position: absolute;
    top: 265px
}
.left-nav__item {
    margin: 0 auto 20px ;
}

.left-nav__item_state_current {
    color: #fff;
    background: #007722;
    border: 2px solid #ffffff;
    font: 18px 'PT Sans', sans-serif;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}