.content {
    max-width: 470px;
    min-width: 300px;
    min-height: 575px;
    margin: auto;
    font-size: 18px;
    color: #504e4e;
    clear: both;
    
    padding: 62px 445px 105px 35px;
    
    background: url('content.jpg') 100% 163px no-repeat;
}

.content p {
    margin: 24px 0;
}