.content
{
    width: 730px;
    float: left;
    margin: 10px 0 60px 50px;
    font-size: 18px;
    color: #504e4e;
}
.content__italic
{
    font-style: italic;
    margin: 20px 0 0 0;
}
.content__img-r
{
    width: 165px;
    float: right;
    font-size: 15px;
    font-style: italic;
    margin: 0 0 0 30px;
    display: none;
}
.content__img-l
{
    border: 2px solid #ffffff!important;
    border-top-left-radius: 30px;
    float: left;
    margin: 10px 30px 0 0;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
       -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
            display: none;
}
.content__img-r .b-icon
{
    border: 2px solid #ffffff!important;
    border-top-left-radius: 30px;
    float: left;
    margin: 20px 0 10px 0;
    -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
       -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.55);
            display: none;
}
.content__list{
    margin: 10px 0 0 0;
}

/*@media (max-width: 960px)
{
    .content
    {
        width: 580px;
        margin: 10px 0 60px 15px;
    }
}

@media (min-width: 1200px)
{
    .content
    {
        width: 740px;
        margin: 10px 0 60px 180px;
    }
}*/