.b-page {
    background: #f4f8fb;
    font: 15px 'PT Sans', arial, sans-serif;
    margin: 0;
    height: 100%;
}
.b-page__inner{
    width: 1000px;
    margin: auto;
    min-height: 100%;
}
.main{
   background: url("../../../../i/tree.png") no-repeat top 250px right -45px;
   background: url("../../../../i/tree.png") no-repeat right 250px\0/;
}