.b-page
{
    background: #f4f8fb;
    font: 15px 'PT Sans', arial, sans-serif;
    margin: auto;
}
.b-page__inner
{
    max-width: 1920px;
    min-width: 768px;
    padding: 0 10%;
    position: relative;
}
.b-page__inner_state_main
{
   background: url('../../../../i/tree.png') no-repeat top 250px left 100%;
}

@media (max-width: 960px)
{
   .b-page__inner_state_main
    {
       background: url('../../../../i/tree.png') no-repeat top 350px left 100%;
    }
    .b-page__inner
    {
        padding: 0;
    }
}
/*@media (min-width: 1200px)
{
    .b-page__inner
    {
        max-width: 1320px;
    }
    .b-page__inner_state_main
    {
       background: url('../../../../i/tree.png') no-repeat top 250px left 910px;
    }
}*/