.description
{
    width: 535px;
    margin: 10px 0 0 5%;
    font-size: 18px;
    color: #504e4e;
    padding: 65px 40% 0 140px;
}

/*@media (max-width: 960px)
{
    .description
    {
        margin: 10px 0 0 17px;
    }
}
@media (min-width: 1200px)
{
    .description
    {
        width: 580px;
        margin: 10px 0 0 180px;
    }
}*/