.nav {
    list-style: none;
    float: right;
    margin: 60px -20px 0 0;
    padding: 0;
}

.nav__item {
    float: left;
    margin-left: 18px;
    padding: 14px 22px;
}

.nav__item_state_current {
    color: #fff;
    background: #629d42;

    -webkit-border-radius: 25px;
    border-radius: 25px;

    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.55);
    box-shadow:         1px 1px 0 rgba(0, 0, 0, 0.55);

    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.37);
}